* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    width: 798px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: solid 50px rgb(211, 0, 0);
    box-sizing: content-box;
}

.grid-square {
    background-color: #D3D3D3;
}

button {
    margin-bottom: 1em;
}