* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    width: 798px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px black;
    box-sizing: content-box;
}

.grid-square {
    border-style: dotted;
    border-width: 1px;
}

button {
    margin-bottom: 1em;
}